.tasks-container {
  background-color: #1775b9;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tasks-title {
  width: 100%;
  padding: 0.9rem 10%;
  color: #ffffff;
}

.tasks-title h3 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

.tasks-wrapper {
  background-color: #a2ceed;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 20px;
  min-height: 400px;
}

.tasksEmpty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.tasksEmpty p {
  margin: 0;
}

.tasks-list {
  display: flex;
  margin: 0 15px;
  flex-wrap: wrap;
  height: 100%;
}